$Softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Darkdesaturatedcyan: hsl(167, 40%, 24%); //Grpahic design text
$Darkblue: hsl(198, 62%, 26%); //Photography text
$Darkmoderatcyan: hsl(168, 34%, 41%); //Footer

$Verydarkdesaturatedblue: hsl(212, 27%, 19%);
$Verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$Grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

$font-family: "Barlow", sans-serif;
$font-family-cursive: "Fraunces", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1440px;
  margin: auto;
  position: relative;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 1440px;
  padding: 35px 30px;
}
.logo {
  display: flex;
  align-items: center;
}
.nav__item {
  text-decoration: none;
  color: white;
  font-family: $font-family;
  margin-right: 45px;
}
.nav {
  display: flex;
  align-items: center;
}

.nav__item--contact {
  text-transform: uppercase;
  background-color: $White;
  font-family: $font-family-cursive;
  color: $Darkblue;
  text-decoration: none;
  height: 55px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-weight: 900;
}
.first__section {
  background-image: url(./images/desktop/image-header.jpg);
  height: 800px;
  background-size: contain;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
