$Softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Darkdesaturatedcyan: hsl(167, 40%, 24%); //Grpahic design text
$Darkblue: hsl(198, 62%, 26%); //Photography text
$Darkmoderatcyan: hsl(168, 34%, 41%); //Footer

$Verydarkdesaturatedblue: hsl(212, 27%, 19%);
$Verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$Grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

$font-family: "Barlow", sans-serif;
$font-family-cursive: "Fraunces", serif;

body {
  font-size: 18px;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
}
header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 35px 40px;
  z-index: 5000;
}
.logo {
  display: flex;
  align-items: center;
  svg {
    transform: scale(1.38);
    position: relative;
    left: 24px;
  }
}

.nav__item {
  text-decoration: none;
  color: white;
  font-family: $font-family;
  margin-right: 46px;
  font-size: 1em;
  &:first-child {
    padding-right: 5px;
  }
}
.nav__trigger {
  display: none;
}
.nav {
  display: flex;
  align-items: center;
}

.nav__item--contact {
  text-transform: uppercase;
  background-color: $White;
  font-family: $font-family-cursive;
  color: $Darkblue;
  text-decoration: none;
  height: 55px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-weight: 900;
  margin-right: 8px;
  font-size: 0.85em;
}
.first__section-img--mobile {
  display: none;
}
.first__section-img {
  width: 100%;
  object-fit: contain;
  display: block;
}
.first__text {
  position: absolute;
  transform: translate(-50%, 195px);
  left: 50%;
  font-family: $font-family-cursive;
  color: white;
  font-size: 3.1em;
  font-weight: 900;
  letter-spacing: 10.3px;
  width: 100%;
  top: 0;
  text-align: center;
}
.first__arrow {
  position: absolute;
  transform: translate(-50%, 358px);
  left: 50%;
  top: 0;
}
.row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px;
}
.row__right,
.row__left,
.graphic__row,
.photography__row {
  background-size: cover;
  background-position: center;
}
.row__content--rigth {
  padding-left: 165px;
  padding-top: 158px;
}
.row__content--left {
  padding-top: 158px;
  padding-left: 110px;
  .row__p {
    padding-right: 35px;
  }
  .row__more {
    &::after {
      background-color: $Softred;
    }
  }
}
.row__title {
  font-family: $font-family-cursive;
  color: $Verydarkdesaturatedblue;
  font-size: 2.2em;
  font-weight: 900;
  letter-spacing: 0.7px;
  width: 80%;
}
.row__p {
  margin-top: 32px;
  font-family: $font-family;
  width: 80%;
  letter-spacing: -0.1px;
  line-height: 30px;
  color: $Darkgrayishblue;
}
.row__more {
  margin-top: 42px;
  display: inline-block;
  margin-left: 10px;
  color: $Verydarkdesaturatedblue;
  text-decoration: none;
  font-family: $font-family-cursive;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 900;
  word-spacing: 3px;
  position: relative;
  &::after {
    content: "";
    height: 10px;
    bottom: -3px;
    border-radius: 2px;
    background-color: $Yellow;
    opacity: 0.3;
    width: 115%;
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translate(-50%, 0);
    z-index: -1;
  }
}
.transform__img {
  background-image: url(./images/desktop/image-transform.jpg);
}
.transform__img--mobile,
.stand__img--mobile {
  display: none;
}
.stand__img {
  background-image: url(./images/desktop/image-stand-out.jpg);
}
.graphic__row {
  background-image: (url(./images/desktop/image-graphic-design.jpg));
  .row__content--second {
    .row__title,
    .row__p {
      color: $Darkdesaturatedcyan;
    }
  }
}
.photography__row {
  background-image: (url(./images/desktop/image-photography.jpg));
  .row__content--second {
    .row__title,
    .row__p {
      color: $Darkblue;
    }
  }
}
.row__content--second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  text-align: center;
  color: inherit;
  .row__title {
    font-size: 1.54em;
    letter-spacing: 0.1px;
  }
  .row__p {
    margin-top: 27px;
    margin-bottom: 60px;
    font-size: 0.89em;
    line-height: 27px;
  }
}
.testimonials {
  padding: 160px 0;
}
.testimonials__title {
  text-align: center;
  font-family: $font-family-cursive;
  color: $Grayishblue;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  margin-bottom: 80px;
}
.testimonials__items {
  display: flex;
  justify-content: center;
}
.testimonial__item {
  text-align: center;
  width: 380px;
}
.testimonial__img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 52px;
}
.testimonial__p {
  font-family: $font-family;
  letter-spacing: -0.1px;
  padding: 0 10px;
  line-height: 32px;
  color: $Verydarkgrayishblue;
}
.testimonial__autor {
  margin-top: 70px;
}
.autor__name {
  color: $Verydarkdesaturatedblue;
  font-family: $font-family-cursive;
  font-weight: 900;
  display: block;
  font-size: 0.95em;
  position: relative;
  left: -7px;
  letter-spacing: 0.5px;
}
.autor__position {
  margin-top: 13px;
  display: block;
  font-family: $font-family;
  font-size: 0.77em;
  position: relative;
  left: -9px;
  color: $Grayishblue;
}
.row__ilustrations {
  height: 447px;
  margin-top: 5px;
  display: flex;
}
.ilustration {
  height: 100%;
  width: 25%;
}
footer {
  height: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 77px 0;
  align-content: start;
}
.footer__logo {
  z-index: 5;
  transform: scale(1.4);
  position: relative;
  left: -6px;
  path {
    fill: $Darkmoderatcyan;
  }
}
.footer-nav {
  width: 100%;
  height: max-content;
  text-align: center;
  margin-top: 45px;
  font-family: $font-family;
}
.footer-nav__item {
  text-decoration: none;
  margin: 0 27px;
  color: $Darkmoderatcyan;
}
.socials {
  margin-top: 90px;
}
.social__item {
  text-decoration: none;
  margin: 0 12px;
}
.attribution {
  font-family: $font-family;
  font-size: 13px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.attribution a {
  color: $Darkdesaturatedcyan;
}

footer {
  background-color: #90d4c5;
}
.mobile__nav {
  width: 80%;
  position: absolute;
  background: white;
  left: 50%;
  transform: translate(-50%, -1000px);
  transition: 0.3s ease-in-out;
}
.active {
  transform: translate(-50%, 70px);
  transition: 0.3s ease-in-out;
}
.mobile__nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  position: relative;
  justify-content: center;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent #ffffff transparent;
    border-style: solid;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-95%);
  }
}
.mobile__nav-item {
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin-bottom: 35px;
  font-family: $font-family;
  color: $Darkgrayishblue;
}
.mobile__nav-item--contact {
  background-color: $Yellow;
  width: 145px;
  height: 55px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-cursive;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
}
@media screen and (max-width: 1024px) {
  .row {
    grid-template-rows: 450px;
  }
  .transform__img,
  .stand__img,
  .photography__row,
  .graphic__row {
    background-size: cover;
  }
  .row__content--left,
  .row__content--rigth {
    padding: 0;
    position: absolute;
  }
  .row__content--left {
    right: 0;
  }
  .row__content--rigth {
    right: 0;
  }
  .row__left,
  .row__right {
    position: relative;
  }
  .row__content {
    width: 85%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
  }

  .row__ilustrations {
    flex-wrap: wrap;
    height: auto;
  }
  .ilustration {
    height: 100%;
    width: 25%;
  }
  .testimonial__item {
    width: 30%;
  }
  .testimonial__p {
    br {
      display: none;
    }
  }
  .row__content--left .row__p {
    padding-right: 0;
  }
  .row__p {
    br {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .row {
    grid-template-rows: 530px;
  }
  .first__text {
    font-size: 1.8em;
    top: -50px;
  }
  .first__arrow {
    top: -150px;
  }
}
.transform__img--mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .order0 {
    order: 0;
  }

  .order1 {
    order: 1;
  }
  .transform__img--mobile,
  .stand__img--mobile {
    display: block;
  }
  .first__section-img {
    display: none;
  }
  .first__section-img--mobile {
    width: 100%;
    display: block;
  }
  .first__text {
    top: 0;
  }
  .first__arrow {
    top: -25px;
  }
  .nav__trigger {
    display: block;
  }
  .nav {
    display: none;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row__content {
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 60px 0;
  }
  .transform__img,
  .stand__img {
    background-image: none;
  }
  .transform__img--mobile,
  .stand__img--mobile {
    display: block;
    width: 100%;
  }
  .testimonials__items {
    flex-wrap: wrap;
  }
  .testimonial__item {
    width: 100%;
  }
  .row__content {
    position: initial;
  }
  .ilustration {
    width: 50%;
  }
  .graphic__row,
  .photography__row {
    height: 80vh;
  }
  .testimonials {
    padding: 100px 0;
  }
  .testimonial__p {
    padding: 0 10%;
  }
  .testimonial__item {
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .testimonial__autor {
    margin-top: 30px;
  }
  .testimonial__img {
    margin-bottom: 30px;
  }
}
